*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Verdana;
	margin: 0 auto;
	/* width: 1500px;  */
	 width: 100%;
	height: 100%;  
	margin: 0 auto;
	background-color: white;
}

	/*WRAPPR*/
.wrapper{
	max-width: 1500px;
	margin: 0 auto;
}


						/* 01 HEADER*/

.header{
	background-color: white;
	display: flex;
	justify-content: space-between;
}

/*LOGO*/
.logo{
	font-size: 35px;
	margin: 10px 10px 10px 100px;
	display: flex;
	align-items: center;
}

.logo img{
	width: 30px;
	margin-right: 5px;
}

.logo span{
	color: #65a9d9;
}

/*NAV*/
.nav{
	font-size: 16px;
	margin: 10px 100px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.nav a{
	margin: 0 10px 0 10px;
	color: #818994;
	text-decoration: none;
}

.nav a:hover{
	/* color: #00FF06; */
	color: #646a72;

	
}


						/*02 BANNER*/
.banner{
	background-image: url(img/02-Banner/backgrounf_for_banner.png);
	display: flex;
}

/*Fuel Shop*/
.fuel_shop{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 50%;
	color: white;
}

/*Content Banner Bblock*/
.content-banner-block{
	display: flex;
	flex-direction: column;
}

.content-banner-block h2{
	font-size: 50px;
	margin-bottom: 20px;
}

.content-banner-block p{
	margin-bottom: 25px;
}

.content-banner-block .signup{
	font-size: 12px;

}

/*Form Field*/
.form-place{
	display: flex;
	align-items: center;
}

.signup .yellow-bg{
	background-color: #ffce54;
	border-radius: 3px;
	padding: 3px;
	font-size: 12px;
	font-weight: bold; 
}

/*Email*/

.your_email{
	background-color: white;
	border-radius: 10px;
}
/* .input_field_email{
	width: 255px;
	height: 40px;
	padding: 5px;
	font-size: 20px;
	border-radius: 5px;
}

.input_field_email placeholder{
	color: #c7cacf;
} */


/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #9da8b2;

	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #333;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}


/*Button*/
 .submit-button{
	 margin-left: 15%; 
}

.email-feedback .submit-button{
	margin-left: 0; 
	margin-right: 50px;
}

.submit-button input:hover{
	background-color: #70e522;
}

.input_submit_button{
	height: 50px;
	width: 100px;
	border-radius: 5px;
	border: 0px;
	background-color: #77c344;
	font-size: 20px;
	color: white;
	
} 






/*HAND*/
.hand{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	
}

.hand img{
	padding-top: 100px;
	height: 843px;
	/*max-width: 70%;*/
}

						/*03 CLIENTS*/

.clients{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f8f8;
	padding: 60px 175px 60px 175px;
}

						/*04 WHY US*/

.why-us{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.why-us h2{
	width: 100%;
	text-align: center;
	color: #424c5e;
	font-size: 40px;
	margin: 80px 0 80px 0;
}

/*Text Content*/
.text-content{
	width: 40%;
	padding: 100px 0 100px 100px; 
}

.text-content ul{
	list-style: none;
}

.text-content li{
	margin-bottom: 35px;
}

.text-content h3{
	/* justify-content: center; */
	display: inline-block;
	margin-left: 70px;
	color: #424c5e;
	font-size: 20px;
}

.text-content p{
	color: #9499a2;
	font-size: 14px;
}

.text-content img{
	position: absolute;
} 

.inline-center{
	display: flex;
	align-items: center;
	margin-bottom: 20px;

}


/*Mac-book*/
.mac-book {
	width: 60%;
	position: relative;
	background-image: url(img/04-WhyUS/macbook_PNG.png);
	/* background-position:  left center; */
	/*background-position: 607% 5em; для width 100% */
	background-position: 145px 5em; /*для width 1500px*/
	background-repeat: no-repeat;
}


						/* 05 Why Different*/

.why-different{
	display: flex;
	flex-wrap: wrap;
	background-color: #f5f5f6;
	background-image: url(img/05-WhyDiff/Boats.png);
	background-position: 100% 80%;
	background-repeat: no-repeat;

}

.why-different h2{
	width: 100%;
	text-align: center;
	color: #424c5e;
	font-size: 40px;
	margin: 80px 0 80px 0;
}

.why-tank-app_text{
	width: 60%;
	padding: 70px 70px 70px 100px;
}

.why-tank-app_text h3{
	/* justify-content: center; */
	display: inline-block;
	margin-left: 70px;
	color: #424c5e;
	font-size: 20px;
}

.why-tank-app_text img{
	position: absolute;
	width: 53px;
}

.why-tank-app_text p{
	color: #9499a2;
	font-size: 14px;
}

	/*Numbers*/
.numbers{
	display: flex;
	justify-content: center;
	width: 100%;
	color: #bec1c7;
	margin-bottom: 60px;
}

.numbers p{
	box-sizing: border-box; 
	font-size: 15px;
	
}

.numbers span{
	padding: 5px 8px 5px 8px;
	background-color: #64a4d7;
	color: white;
	border-radius: 50%;
	 
}

						/* 06 Save Time */

.save-time{
	display: flex;
	flex-wrap: wrap;
}

.save-time h2{
	width: 100%;
	text-align: center;
	color: #424c5e;
	font-size: 40px;
	margin: 80px 0 50px 0;
}

.save-time h3{
	width: 100%;
	text-align: center;
	color: #424c5e;
	font-size: 20px;
	margin: 0 0 20px 0;
	font-style: italic;
}

.email-feedback{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	
}




/* input*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	/* margin: 1em; */
	padding-right: 20px;
	/* width: 30%; */
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 16px 16px 16px 60px;
	/* width: 60%; */
	border: none;
	border-radius: 0;
	/* background: #f0f0f0; */
	color: black;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.input__label-content img{
	margin-right: 10px;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}


/*manami */

/* Manami */
.input--manami {
	overflow: hidden;
	width: 30%;
	margin-right: 50px;
}

.input__field--manami {
	width: 100%;
	background: transparent;
	padding: 1em;
	margin-bottom: 1em;
	color: #f9f7f6;
	z-index: 100;
	opacity: 0;
}

.input__label--manami {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 0.5em 0;
	pointer-events: none;
	font-size: 1em;
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
	background: #A8A8A8;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.input__label--manami::after {
	height: 2px;
	background: #A8A8A8;
	top: 100%;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.input__label-content--manami {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.input__field--manami:focus,
.input--filled .input__field--manami {
	opacity: 1;
	-webkit-transition: opacity 0s 0.2s;
	transition: opacity 0s 0.2s;
}

.input__label--manami::before,
.input__label--manami::after,
.input__label-content--manami,
.input__field--manami:focus,
.input--filled .input__field--manami {
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--manami:focus + .input__label--manami::before,
.input--filled .input__label--manami::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--manami:focus + .input__label--manami::after,
.input--filled .input__label--manami::after {
	opacity: 0;
}

.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: #cbc4c6;
	-webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
	transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}


						/* 07 Footer */

.footer{
	background-color: #f9f9f9;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 20px 0;
}

/*LOGO Footer*/
.logo-footer{
	font-size: 35px;
	margin: 10px 10px 10px 100px;
	display: flex;
	align-items: center;
}

.logo-footer img{
	width: 30px;
	margin-right: 5px;
}

.logo-footer p{
	color: #a2a2a2;
}

.logo-footer span{
	color: #d1d1d1;
}

.footer-logo img{
	margin-left: 7px;
}


		/*Adaptation*/
/*@media screen and (max-widgh: брейкпоинт)*/


@media screen and (max-width: 1024px){
	
		/*WRAPPR*/
.wrapper{
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}



	/* 01 HEADER*/

/*LOGO*/
.logo{
	margin: 10px 10px 10px 20px;

}

/*NAV*/
.nav{
	margin: 10px 10px 10px 10px;
}

	/* 02 BANNER*/

/*Fuel Shop*/
.fuel_shop{
	width: 60%;
}

/*Button*/
 .submit-button{
	 margin-left: 8%; 
}


/*Hand*/
.hand{
 	width: 40%;
 	justify-content: initial;

}


	/*03 Clients*/

.clients{
	justify-content: center;
	padding: 60px 0px 60px 0px;
}

.clients img{
	margin: 0 20px 0 20px;
}


	/*04 WHY US*/

.why-us{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
}
/*Text Content*/
.text-content{
	width: 60%;
	padding: 100px 20px 100px 50px; 
}
/*Mac-book*/
.mac-book {
	width: 40%;
	position: relative;
	background-image: url(img/04-WhyUS/1024px/mac-small-PSD.png);
	background-position: 0px 5em; 
	background-repeat: no-repeat;
}


	/* 05 Why Different*/

.why-different{
	display: flex;
	flex-wrap: wrap;
	background-color: #f5f5f6;
	background-image: url(img/05-WhyDiff/Boats.png);
	background-position: -50% 80%;
	background-repeat: no-repeat;

}

.why-tank-app_text{
	width: 60%;
	padding: 70px 70px 70px 50px;
}



	/* 07 Footer */

/*LOGO Footer*/
.logo-footer{
	font-size: 35px;
	margin: 10px 10px 10px 20px;
	display: flex;
	align-items: center;
}





.nav-footer{
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}




.footer-share{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 0;
}

.footer-share a {
	margin: 0 20px 0 20px;
}









}









@media screen and (max-width: 768px){

/*WRAPPR*/
.wrapper{
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
}



	/* 01 HEADER*/

/*LOGO*/
.logo{
	margin: 10px 10px 10px 20px;

}

/*NAV*/
.nav{
	margin: 10px 10px 10px 10px;
	font-size: 18px;
}

	/* 02 BANNER*/


.banner:hover .hand{
	padding-left: 100px;
}  


/*Fuel Shop*/
.fuel_shop{
	width: 60%;
	padding-left: 50px;
}

.content-banner-block p{
	font-size: 18px;

}

.content-banner-block .signup{
	font-size: 18px;
}

/*Button*/
 .submit-button{
	 margin-left: 8%; 
}


/*Hand*/
.hand{
 	width: 40%;
 	justify-content: initial;

}


	/*03 Clients*/

.clients{
	justify-content: center;
	padding: 60px 0px 60px 0px;
}

.clients img{
	margin: 0 20px 0 20px;
}


	/*04 WHY US*/

.why-us{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
}
/*Text Content*/
.text-content{
	width: 60%;
	padding: 70px 30px 100px 50px; 
}

.text-content p{
	font-size: 16px;
}




	/* 05 Why Different*/

.why-different{
	display: flex;
	flex-wrap: wrap;
	background-color: #f5f5f6;
	background-image: url(img/05-WhyDiff/Boats.png);
	background-position: 40% 80%;
	background-repeat: no-repeat;

}

.why-different h2 {
	margin: 80px 0 0 0;
}

.why-tank-app_text{
	width: 60%;
	padding: 70px 70px 70px 50px;
}


	/*06 Save Time*/

.save-time{
	padding: 0 40px 0 40px;
} 

.email-feedback{
	margin: 50px 10px 50px 10px;
}


	/* 07 Footer */

/*LOGO Footer*/
.logo-footer{
	font-size: 35px;
	margin: 10px 10px 10px 20px;
	display: flex;
	align-items: center;
}





.nav-footer{
	font-size: 15px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}




.footer-share{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 0;
}

.footer-share a {
	margin: 0 20px 0 20px;
}


}





@media screen and (max-width: 425px){

/*WRAPPR*/
.wrapper{
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
}



	/* 01 HEADER*/

.header{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*LOGO*/
.logo{
	margin: 50px 10px 10px 20px;
	justify-content: center;
}

/*NAV*/
.nav{
	flex-direction: column;
	margin: 10px 10px 10px 10px;
	font-size: 18px;
}

.nav a{
	margin: 10px 10px 10px 10px;
}

	/* 02 BANNER*/
.banner{
	background-position: -18% 3%;

}


/* .banner:hover .hand{
	padding-left: 100px;
}   */


/*Fuel Shop*/
.fuel_shop{
	width: 100%;
	height: 500px;
	padding-left: 0;
	margin: 30px 10px 30px 10px;
}

.content-banner-block{
	padding:;
}

.content-banner-block p{
	font-size: 18px;
	padding: 0 10px 0 0;
}

.content-banner-block .signup{
	font-size: 18px;
}

/*Email*/

.your_email{
	margin: 20px 0 0 0;
}


/*Button*/
 .submit-button{
	 margin: 30px 0 10px 0; 

}


.form-place{
	flex-direction: column;
}








/*Hand*/
.hand{
	display: none;
 	justify-content: initial;

}


	/*03 Clients*/

.clients{
	justify-content: center;
	flex-direction: column;
	padding: 60px 0px 60px 0px;
}

.clients img{
	margin: 20px 0 20px 0;
}


	/*04 WHY US*/

.why-us{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
}
/*Text Content*/
.text-content{
	width: 100%;
	padding: 20px 30px 50px 50px; 
}

.text-content p{
	font-size: 16px;
}








/*Mac-book*/
.mac-book {
	display: none;
	
}


	/* 05 Why Different*/

.why-different{
	background-position: 71% -25%;
	
}

.why-different h2 {
	margin: 80px 0 0 0;
}

.why-tank-app_text{
	width: 100%;
	padding: 70px 70px 70px 50px;
}


	/*06 Save Time*/

.save-time{
	padding: 0 40px 0 40px;
} 

.email-feedback{
	flex-direction: column;
	margin: 50px 10px 50px 10px;
}

.input--manami{
	width: 100%;
	margin: 0;
}

.email-feedback .submit-button{
	margin: 10px;
}



	/* 07 Footer */

/*LOGO Footer*/
.logo-footer{
	font-size: 35px;
	margin: 10px 10px 10px 20px;
	display: flex;
	align-items: center;
}





.nav-footer{

	display: flex;
	font-size: 15px;
}


.nav-footer a{
	/* margin: 10px 100px 10px 0; */
	
	
}



.footer-share{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 20px 0 20px 0;
}

.footer-share a {
	margin: 10px 20px 10px 20px;
}


}


































